.fullscreen {
    min-height: 100vh;
}

.dot {
    text-align: center;
    display: flex;
    /* display: inline-block; */
    flex-direction: column;
    justify-content: center;
    height: 100px;
    width: 100px;
    background-color: rgba(0, 115, 255, 0.742);
    border-radius: 50%;
}

.col-4 {
    margin: auto;
    vertical-align: middle;
}