#post-img {
    height: 72px;
    width: 72px;
    border: 0.2px solid rgba(79, 150, 186, 0.317);
    box-shadow: 1px 2px 3px rgba(9, 7, 0, 0.577);
}

.faEdit {
    color: rgb(25, 225, 188);
    
}

.faHeart {
    color: rgba(222, 80, 94, 0.427);
    margin-left: 23px;
}

.icons {
    margin-top: 20px;
    display: inline-flex;
    flex-direction: row;  
}