#post-img {
    height: 72px;
    width: 72px;
    border: 0.2px solid rgba(79, 150, 186, 0.317);
    box-shadow: 1px 2px 3px rgba(9, 7, 0, 0.577);
}
#profile-img {
    height: 100px;
    width: 100px;
    border: 0.2px solid rgba(216, 233, 242, 0.317);
    box-shadow: 1px 2px 3px rgba(9, 7, 0, 0.577);
}

.faEdit {
    color: rgba(25, 225, 188, 0.687);
    
}

.faHeart {
    color: rgba(242, 76, 15, 0.593);
    margin-left: 23px;
}

.icons {
    margin:auto;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
}

.d-block {
    min-width: 100vw;
}