
.wrapper {
    background-color: fuchsia;
    height: 100vh;
    width: 100vw;
    background-image: url('../components/Landing/Footer/images/MainStreet.jpg');
    background-size: cover;
    position: relative;
    padding: 150px;
}

.blur {
    background:
    linear-gradient(
    rgba(57, 149, 241, 0.3),
    rgba(94, 224, 244, 0.5), 100%
    );
    backdrop-filter: blur(2.5px);
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: -1;
    margin: 0px;
}


.loginBox {
    text-align: left;
    font-weight: bold;
    color: white;
    max-height: 400px;
    max-width: 500px;
    background-color: rgba(240, 146, 74, 0.619);
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border: 1px solid whitesmoke;
    padding: 20px;
    position: relative;
    z-index: 0;

}

.loginButton {
    border: 1px solid whitesmoke;
}